.reveal abbr:hover {
  cursor: help; }

.reveal b {
  font-weight: bold; }

.reveal blockquote {
  box-shadow: none;
  text-align: left; }

.reveal i {
  font-style: italic; }

.reveal .bscode {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; }

.reveal .italic {
  font-style: italic; }

.reveal .lower {
  text-transform: lowercase; }

.reveal .avg-line line {
  stroke: red; }

.reveal .avg-line text {
  fill: black; }

.reveal .small-font {
  font-size: 50%; }

.reveal .columns {
  column-count: 2;
  column-gap: 20px; }

.reveal .photoref {
  position: relative;
  bottom: -2em; }
  .reveal .photoref a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px; }

.c3-xgrid-focus {
  display: none; }
