.reveal b {
  font-weight: bold; }

.reveal blockquote {
  box-shadow: none;
  text-align: left; }

.reveal i {
  font-style: italic; }

.reveal .italic {
  font-style: italic; }

.reveal .lower {
  text-transform: lowercase; }

.reveal .red line {
  stroke: red; }

.reveal .small-font {
  font-size: 50%; }

.reveal .columns {
  column-count: 2;
  column-gap: 20px; }

.c3-xgrid-focus {
  display: none; }
