// overrides, utilities, etc.
// nest everything under .reveal for specificity
.reveal {
    b {
        font-weight: bold;
    }

    blockquote {
        text-align: left;
    }

    i {
        font-style: italic;
    }

    .italic {
        font-style: italic;
    }
    .lower {
        text-transform: lowercase;
    }
}
