// overrides, utilities, etc.

// faded background image on first slide
html.bg-fade .slide-background {
    opacity: 0.35 !important;
}

.reveal {
    b {
        font-weight: bold;
    }

    blockquote {
        box-shadow: none;
        text-align: left;
    }

    i {
        font-style: italic;
    }

    .italic {
        font-style: italic;
    }
    .lower {
        text-transform: lowercase;
    }
    // for average line through bar chart
    .avg-line {
        line {
            stroke: red;
        }
        text {
            fill: black;
        }
    }
    .small-font {
        font-size: 50%;
    }

    .columns {
        column-count: 2;
        column-gap: 20px;
    }

    .photoref {
        position: relative;
        bottom: -2em;

        a {
            background-color: black;
            color: white;
            text-decoration: none;
            padding: 4px 6px;
            font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 12px;
            font-weight: bold;
            line-height: 1.2;
            display: inline-block;
            border-radius: 3px
        }

    }
}

.c3-xgrid-focus {
    display: none;
}
